#festival-map-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

#festival-map {
    width: 100%;
    height: 100%;
}
#map {
    .circle-pin {
        width: 60px;
        height: 60px;
        &:after {
            width: 20px !important;
            height: 20px !important;
        }
    }
}
