/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    /* Styles */
    .bike-position {
        display: none;
    }

    //Downloads buttons
    #downloads {
        .download_button_position {
            top: 120px;
            width: 40%;
            left: 0;
            right: 0;
            margin: 0 auto;
            img {
                width: 50px;
                height: auto;
            }
        }
    }

    .download_button_position {
        position: relative !important;
        bottom: 0;
        right: auto;
        margin-top: 15px;
    }
    div#engaging-adults {
        display: inline-block;
    }
    header {
        .uk-background-primary {
            padding-top: 15px;
        }
        #top-search {
            .mod-finder__search {
                input.js-finder-search-query {
                    font-size: 2rem;
                    line-height: 2.5;
                    padding-left: 20px;
                }
            }
        }
    }
    .mod_funding_open {
        #background {
            height: 50vh !important;
        }
    }
    img#getInvolved {
        top: -35px;
        max-width: 162px;
        right: 0;
    }
    .height160 {
        height: 160px !important;
    }
    .hero {
        background-position: bottom;
        h1 {
            margin-bottom: 200px;
        }
    }
    // .sixty_five {
    //     font-size: 2.1rem;
    // }
    #tips {
        .circle-container {
            left: -20px;
        }
        .circle-border {
            width: 150px;
            height: 150px;
            border-width: 6px;
        }
    }
    #faqs {
        .custom-circle {
            width: 180px;
            height: 180px;
        }
        .hub_website_button_position {
            left: 0;
        }
    }
    #eventCategories {
        .shape-container {
            margin-bottom: 70px !important;
            .circle {
                width: 120px;
                height: 120px;
                top: -50%;
                .rectangle {
                }
            }
            .shape {
            }
        }
    }
    #marketing-promotion {
        #weve-made-it-easy {
            .circle-container {
                left: -4px;
                .circle-border {
                    width: 100px;
                    height: 100px;
                    img {
                        height: 70px;
                        width: 70px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    #talking-climate #engaging-adults .custom-circle {
        top: -48px;
        width: 125px;
        height: 125px;
    }
    #talking-climate #engaging-kids #tips div#icon {
        top: 10px;
        left: -20px;
        .circle-border {
            width: 100px;
            height: 100px;
        }
    }
    #talking-climate #engaging-kids #downloadButton .circle-container {
        right: -35px;
        .circle-border {
            width: 120px;
            height: 120px;
            img {
                object-fit: cover;
                height: 70px;
                width: 70px;
                left: 0;
                right: 0;
                margin: auto;
                top: 0;
                bottom: 0;
            }
        }
    }
    #talking-climate #engaging-kids #downloadButton {
        &.buttonOne {
            bottom: 0;
            left: 0;
        }
        &.buttonTwo {
            bottom: -125px;
            left: 0;
        }
    }
    #idea {
        .uk-container-expand {
            &:before,
            &:after {
                background-size: unset !important;
            }
        }
    }
    #faqs .uk-accordion li .uk-accordion-title::before {
        border-width: 0 18px 30px 18px;
    }

    #festival-programme {
        #events {
            .uk-slider-items {
                .uk-slide-active {
                    width: 100%;
                    .event-item {
                        #info {
                        }
                    }
                }
            }
        }
    }
    .yellow-strip {
        background-color: transparent;
        height: unset;
    }

    .hide-background-mobile {
        background: none;
    }

    .mobile-remove-padding-top {
        padding-top: 0 !important;
    }
    .mobile-remove-padding-bottom {
        padding-bottom: 0 !important;
    }
    .mobile-remove-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mobile-remove-padding-all {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .mobile-reset-button-padding {
        padding: 0 30px !important;
    }
    .mobile-remove-margin-all {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .mobile-remove-margin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .mobile-remove-margin-left {
        margin-left: 0 !important;
    }
    .mobile-remove-margin-right {
        margin-right: 0 !important;
    }
    .mobile-remove-margin-top {
        margin-top: 0 !important;
    }
    .mobile-remove-margin-bottom {
        margin-bottom: 0 !important;
    }
    .mobile-image-full-width {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mobile-text-full-width {
        margin-left: 20px !important;
        margin-right: 20px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mobile-margin-top {
        margin-top: 20px !important;
    }
    .mobile-margin-bottom {
        margin-bottom: 20px !important;
    }
    .mobile-margin-top-large {
        margin-top: 40px !important;
    }
    .mobile-margin-bottom-large {
        margin-bottom: 40px !important;
    }
    .mobile-margin-top-xlarge {
        margin-top: 70px !important;
    }
    .mobile-margin-bottom-xlarge {
        margin-bottom: 70px !important;
    }
    .mobile-padding-top {
        padding-top: 20px !important;
    }
    .mobile-padding-bottom {
        padding-bottom: 20px !important;
    }
    .mobile-padding-top-large {
        padding-top: 40px !important;
    }
    .mobile-padding-bottom-large {
        padding-bottom: 40px !important;
    }
    .mobile-padding-top-xlarge {
        padding-top: 70px !important;
    }
    .mobile-padding-bottom-xlarge {
        padding-bottom: 70px !important;
    }
    .mobile-hide {
        display: none !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/* iPads Pro (portrait and landscape) ----------- */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    html {
        font-size: 10px;
    }
    /* Styles */
    header .nav-link {
        font-size: 1.75rem;
        line-height: 1.5;
    }
    #funding-page {
        #downloads {
            .circle {
                width: 150px;
                top: 120px;
            }
        }
    }
    #marketing-promotion {
        #receivedFunding {
            .hide-background-mobile {
                background-size: 45%;
            }
        }
    }
    #talking-climate {
        #engaging-adults {
            .custom-circle {
                width: 200px;
                height: 200px;
            }
        }
    }
    .bike-position {
        width: 350px;
        right: -20px;
        top: 0px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    html {
        font-size: 12px;
    }
    //Nav dropdown
    .dropdown-menu {
        width: 100%;
        border: 0 none;
        background-color: $yellow;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-border-radius: $download_border_radius;
        -moz-border-radius: $download_border_radius;
        border-radius: $download_border_radius;

        .nav-item {
            .dropdown-item {
                font-size: 1.75rem;
                &:hover {
                    background-color: $primary;
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

    //Welcome module
    img#mod-welcome-image {
        max-width: 897px;
    }

    //Animate
    .bounce-on-hover {
        position: relative;
        top: 0;
        transition: top ease 0.5s;
        &:hover {
            top: -25px;
        }
    }
    .yellow-circle {
        width: 495px;
        height: 495px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 auto;
    }
    .bike-position {
        right: -55px;
        z-index: 9999;
        top: -60px;
        transform: rotate(12deg);
    }
    .fixing_bike_image {
        top: -115px;
    }
    .getintouch_module_margin {
        margin-right: 70px !important;
    }
    .about-page {
        .second-text-area-width {
            width: 815px;
        }
    }
    img#getInvolved {
        top: -194px;
    }
    .get-involved-padding {
        padding-left: 38px;
        padding-right: 64px;
        padding-top: 22px;
        padding-bottom: 24px;
    }

    //Downloads buttons
    .download_button_position {
        top: 90px;
        right: -12%;
    }

    #funding-page {
        #downloads {
            min-height: 529px;
        }
    }

    .fixing_bike_bg {
        background-image: url(/images/assets/fixing_bike.png);
    }

    #faqs {
        .custom-box {
            max-width: 675px;
        }
    }

    #take-part-in-an-event,
    #event-inspiration {
        .hero {
            min-height: 695px;
        }
    }

    #sustainable-event-planning {
        .hero {
            min-height: 766px;
        }
    }

    #talking-climate {
        #engaging-adults {
            #climateActions {
                top: -180px;
                position: relative;
            }
            #visitHub {
                top: -100px;
                position: relative;
            }
        }
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    //Downloads buttons
    #downloads {
        .download_button_position {
            top: 120px;
            width: 40%;
            left: 0;
            right: 0;
            margin: 0 auto;
            img {
                width: 50px;
                height: auto;
            }
        }
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}
