/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    /* Styles */
    .bike-position {
        display: none;
    }

    //Downloads buttons
    .download_button_position {
        top: 170px;
        right: -12%;
        img {
            width: 50px;
            height: auto;
        }
    }

    .download_button_position {
        position: relative !important;
        bottom: 0;
        right: auto;
        margin-top: 15px;
    }
    div#engaging-adults {
        display: inline-block;
    }
    header {
        .uk-background-primary {
            padding-top: 15px;
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* Styles */
}

/* Smartphones (modern) ----------- */
@media only screen and (max-width: 932px) {
    header {
        #top-search {
            .mod-finder__search {
                input.js-finder-search-query {
                    font-size: 2rem;
                    line-height: 2.5;
                    padding-left: 20px;
                }
            }
        }
    }
    .mod_funding_open {
        #background {
            height:50vh !important;
        }
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/* iPads Pro (portrait and landscape) ----------- */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Styles */
    header .nav-link {
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    //Nav dropdown
    .dropdown-menu {
        width: 100%;
        border: 0 none;
        background-color: $yellow;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-border-radius: $download_border_radius;
        -moz-border-radius: $download_border_radius;
        border-radius: $download_border_radius;

        .nav-item {
            .dropdown-item {
                font-size: 1.75rem;
                &:hover {
                    background-color: $primary;
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

    //Welcome module
    img#mod-welcome-image {
        max-width: 897px;
    }

    //Animate
    .bounce-on-hover {
        position: relative;
        top: 0;
        transition: top ease 0.5s;
        &:hover {
            top: -25px;
        }
    }
    .yellow-circle {
        width: 495px;
        height: 495px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 auto;
    }
    .bike-position {
        right: -55px;
        z-index: 9999;
        top: -60px;
        transform: rotate(12deg);
    }
    .fixing_bike_image {
        top: -115px;
    }
    .getintouch_module_margin {
        margin-right: 70px !important;
    }
    .about-page {
        .second-text-area-width {
            width: 815px;
        }
    }
    img#getInvolved {
        top: -194px;
    }
    .get-involved-padding {
        padding-left: 38px;
        padding-right: 64px;
        padding-top: 22px;
        padding-bottom: 24px;
    }

    //Downloads buttons
    .download_button_position {
        top: 90px;
        right: -12%;
    }

    #funding-page {
        #downloads {
            min-height: 529px;
        }
    }

    .fixing_bike_bg {
        background-image: url(/images/assets/fixing_bike.png);
    }

    #faqs {
        .custom-box {
            max-width: 675px;
        }
    }

    #take-part-in-an-event {
        .hero {
            min-height: 695px;
        }
    }

    #sustainable-event-planning {
        .hero {
            min-height: 766px;
        }
    }

    #talking-climate {
        #engaging-adults {
            #climateActions {
                top: -180px;
                position: relative;
            }
            #visitHub {
                top: -100px;
                position: relative;
            }
        }
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}
